.button {
    height: 99px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 't';
    box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border: 1px solid;
    width: 310px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%) skew(-13deg, -1deg);
    top: 35%;
    background: #2c2f33;
    font-size: 8px;
}

.button:hover > div:nth-of-type(1) {
    font-size: 534%;
}

.button > div:nth-of-type(1) {
    font-size: 310%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: BurBank;
    transition: 0.2s;
}