.button {
    transform: skew(-13deg, -1deg);
    width: 411px;
    height: 99px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 't';
    background: rgb(114,137,218);
    background: -moz-linear-gradient(249deg, rgba(114,137,218,1) 0%, rgba(97,117,183,1) 100%);
    background: -webkit-linear-gradient(249deg, rgba(114,137,218,1) 0%, rgba(97,117,183,1) 100%);
    background: linear-gradient(249deg, rgba(114,137,218,1) 0%, rgba(97,117,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= "#7289da",endColorstr="#6175b7",GradientType=1);
    box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.button > div:nth-of-type(1) {
    font-size: 310%;
    transform: skew(6deg);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: BurBank;
}