html {
    overflow: hidden;
    background: #2c2f33;
    /* background-image: linear-gradient(235deg, rgba(13,71,168,1) 0%, rgba(46,157,226,1) 100%); */
}

.modules {
    display: flex;
    position: absolute;
    right: 18px;
    z-index: 1;
    transition: 0.2s;
}

.modules > div {
    background: white;
    width: 10vh;
    height: 10vh;
    transition: 1s;
    flex-shrink: 0;
    margin: 1px;
    overflow: hidden;
    transform: rotateY(1deg);
    display: flex;
}

.modules > div:hover {
    transform: perspective(245px) rotateY(26deg);
}

.modules > div:hover:last-child {
    transform: perspective(245px) rotateY(-23deg);
}

.modules > div[type="active"] {
    background: #FFFFFF;
    transform: perspective(245px) rotateY(26deg);
    display: block !important;
}

.modules > div[type="active"]:last-child {
    transform: perspective(245px) rotateY(-23deg);
}

.modules > div[type="active"]:not(:first-child):not(:last-child) {
    transform: perspective(1297px) rotateY(-38deg);
}

.modules > div[type="active"] > img {
    filter: invert(51%) sepia(25%) saturate(6954%) hue-rotate(176deg) brightness(101%) contrast(106%);
}

.modules > div > img {
    width: 100%;
    height: 100%;
}

.modules > div > div {
    /* background: #2c2f33; */
    width: 100%;
    height: 100%;
}

.art {
    position: absolute;
    bottom: -5px;
    transform: translate(-50%);
    left: 50%;
    z-index: -1;
}

.art > img {
    width: 440px;
}

.early {
    position: absolute;
    transform: translate(-50%, -50%) scale(2.5);
    left: 50%;
    top: 50%;
    right: unset;
}

.error {
    left: 50%;
    top: 50%;
    position: absolute;
    color: white;
    font-family: 'BurBank';
    overflow: hidden;
    z-index: 1;
    transform: skew(-6deg, 0deg) translate(-50%, -50%);
    border: 3px solid white;
    background: #2c2f33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
    font-size: 100%;
    height: 52%;
}

.error > div:nth-of-type(1) {
    color: white;
    font-size: 15px;
    text-align: center;
}

.error > div:nth-of-type(1) > div:nth-of-type(1) {
    font-size: 42px;
    text-align: center;
    line-height: 61px;
}

.error > div:nth-of-type(2) {
    font-size: 25px;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

@font-face {
    font-family: BurBank;
    src: url(./src/font/index.ttf);
}

::-webkit-scrollbar {
    background: #0E52A0;
    width: 8px;
    height: 7px;
}

::-webkit-scrollbar-corner {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #7FD4FF;
    height: 10px;
}

.notification {
    width: 300px;
    height: 100px;
    position: absolute;
    right: -10px;
    bottom: 0;
    transform: skew(9deg, 5deg);
    background: #630000;
    transition: 0.2s;
    font-family: 'BurBank';
    color: rgb(255,0,0);
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    flex-direction: column;
}

.notification > div:nth-of-type(2) {
    font-size: 15px;
    color: rgb(206,0,0);
}

/* Holiday stuff */

::-webkit-scrollbar-thumb {
    background: rgba(127,0,0,1);
}

::-webkit-scrollbar {
    background: rgba(255,0,0,1);
}